{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSS Feed</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
    <!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-110677789-1', {
  'cookieDomain': 'none'
});
ga('send', 'pageview');
// ga(function(tracker) {
  // Logs the tracker created above to the console.
  // console.log(tracker.get('clientId'));
// });

</script>
<!-- End Google Analytics -->


{#<form method="POST">#}
{#    Url (in RSS format!): <input type="text" name="url"><br/>{% csrf_token %}#}
{#    <input type="submit" value="Submit" />#}
{#</form><br/><br/>#}
{##}
{#{% if messages %}#}
{#<div class="messages">#}
{#    {% for message in messages %}#}
{#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#    {% endfor %}#}
{#</div>#}
{#{% endif %}#}

<body>

    <div >
        <center>
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tbody>
                    {# NavBar #}
                    <tr>
                        <td bgcolor="#ff6600">
                            <table  border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 2px">
                                <tbody>
                                    <tr>
                                        <td style="line-height:12pt; height:10px;">
                                            <span class="pagetop">
                                                <b class="feed">
                                                    <a href="{% url 'home' %}" style="text-decoration: none;">News Feed</a>
                                                    |
                                                </b>
{#                                                <b class="twitter">#}
{#                                                    <a href="{% url 'twitter' %}" style="text-decoration: none;">Twitter</a>#}
{#                                                    |#}
{#                                                </b>#}
                                                <b class="bookmarks">
                                                    <a href="{% url 'bookmark' %}" style="text-decoration: none;">Bookmarks</a>
                                                    |
                                                </b>
                                                <b class="feature">
                                                    <a href="{% url 'feature' %}" style="text-decoration: none;">Feature</a>
                                                </b>
                                            </span>
                                        </td>
                                            {% block content %}
                                            {% endblock %}
{#                                        <td style="text-align:right;padding-right:4px;">#}
{#                                            <span class="pagetop">#}
{#                                                <form method="POST">#}
{#                                                    Url (Rss Format): <input type="text" name="url">{% csrf_token %}#}
{#                                                    <input type="submit" value="Submit" />#}
{#                                                </form>#}
{#                                            </span>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </td>#}
{#                        </tr>#}
{#                        <tr style="height: 10px"></tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <table border="0" cellpadding="0" cellspacing="0" class="itemlist">#}
{#                                    <tbody>#}
{#                                        {% for i in object_list %}#}
{#                                            <form method='GET' action='{% url 'feed_bookmark' new_id=i.id %}'>#}
{#                                            {{ form.as_p }}#}
{#                                                <tr class="athing">#}
{#                                                    <td align="right" valign="top" class="title">#}
{#                                                        <span>{{ i.id }}. </span>#}
{#                                                    </td>#}
{#                                                    <td class="title">#}
{#                                                        <input id = 'im' type='image' src="https://news.ycombinator.com/grayarrow2x.gif" width="11">&nbsp;<a href="{{ i.link }}" style="text-decoration: none; color: black;">{{ i.title }}</a>#}
{#                                                        <input name='feed_bookmark' type='hidden' value="bookmark" width="12" >#}
{#                                                        <input type='image' src="https://news.ycombinator.com/grayarrow2x.gif" width="11">&nbsp;<a href="{{ i.link }}">{{ i.title }}</a>#}
{#                                                        <input name='feed_bookmark' type='hidden' value="bookmark" width="12" ><a href="{{ i.link }}">{{ i.title }}</a>#}
{#                                                    </td>#}
{#                                            </form>#}
{##}
{#                                            <tr>#}
{#                                                <td colspan="2"></td>#}
{#                                            </tr>#}
{#                                            <tr style="height:5px"></tr>#}
{#                                        {% endfor %}#}
{##}
                                    <tr style="height:5px"></tr>
                                    <tr style="height:7px"></tr>

                                    <td>
                                        {% if object_list.has_next %}
                                            <div style="margin-left: 90%;">
                                                <a href="?page={{ object_list.next_page_number }}" style="text-decoration: none; color: black" rel="nofollow">More</a>
                                            </div>
                                        {% endif %}
                                    </td>
                                    </tbody>

                                </table>
             </table>
        </center>
    </div>

     <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>



{#<script>#}
{#    function bm() {#}
{#        document.getElementById('im').type = 'hidden';#}
{#        {% for i in object_list %}#}
{#            console.log("{{ i.id }}");#}
{#        {% endfor %}#}
{#    }#}
{##}
{#</script>#}


</body>

</html>
