{#{% load staticfiles %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>RSS Feed</title>#}
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}">#}
{#</head>#}
{##}


{#<form method="POST">#}
{#    Url (in RSS format!): <input type="text" name="url"><br/>{% csrf_token %}#}
{#    <input type="submit" value="Submit" />#}
{#</form><br/><br/>#}
{##}
{#{% if messages %}#}
{#<div class="messages">#}
{#    {% for message in messages %}#}
{#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#    {% endfor %}#}
{#</div>#}
{#{% endif %}#}

{#<body>#}

{#    <div >#}
{#        <center>#}
{#            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">#}
{#                <tbody>#}
                    {# NavBar #}
{#                    <tr>#}
{#                        <td bgcolor="#ff6600">#}
{#                            <table  border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 2px">#}
{#                                <tbody>#}
{#                                    <tr>#}
{#                                        <td style="line-height:12pt; height:10px;">#}
{#                                            <span class="pagetop">#}
{#                                                <b class="feed">#}
{#                                                    <a href="{% url 'home' %}" style="text-decoration: none;">News Feed</a>#}
{#                                                    |#}
{#                                                </b>#}
{#                                                <b class="twitter">#}
{#                                                    <a href="{% url 'twitter' %}" style="text-decoration: none;">Twitter</a>#}
{#                                                    |#}
{#                                                </b>#}
{#                                                <b class="bookmarks">#}
{#                                                    <a href="{% url 'bookmark' %}" style="text-decoration: none;">Bookmarks</a>#}
{##}
{#                                                </b>#}
{##}
{#                                            </span>#}
{#                                        </td>#}


{% extends 'base.html' %}
{% block content %}
                                        <td style="text-align:right;padding-right:4px;">



                                            <span class="pagetop">
                                                <form method="POST">
                                                    Url (Rss Format): <input type="text" name="url">{% csrf_token %}
                                                    <input type="submit" value="Submit" />

                                                </form>

                                                <form method="GET">
                                                    <input name='refresh' type="submit" value="Refresh Feed" />
                                                </form>

                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        </tr>
                        <tr style="height: 10px"></tr>
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                                    <tbody>
                                        {% for i in object_list %}
                                            <form method='GET' action='{% url 'feed_bookmark' new_id=i.id %}'>
                                            {{ form.as_p }}
                                                <tr class="athing">
                                                    <td align="right" valign="top" class="title">
                                                        <span>{{ i.id }}. </span>
                                                    </td>
                                                    <td class="title">
                                                        <input id = 'im' type='image' src="https://news.ycombinator.com/grayarrow2x.gif" width="11">&nbsp;<a href="{{ i.link }}" id="headline"  style="text-decoration: none; color: black;">{{ i.title }}</a>
                                                            {% if i.category == 'Google' %}
                                                                <a href="{% url 'google' %}"><span class="tag" style="font-family:Verdana, Geneva, sans-serif; font-size:  9pt;
       color:#ffffff; background-color:#222222; padding-top: 2px;
       padding-bottom: 2px; padding-left: 5px; padding-right: 5px;
       white-space: nowrap; border-radius: 5px;">{{ i.category }}</span></a>
{#                                                                <span ><a href="{% url 'google' %}" class="tag">{{ i.category }}</a></span>#}
                                                            {% endif %}
                                                            {% if i.category == 'Reddit' %}
                                                                <a href="{% url 'reddit' %}"><span class="tag" style="font-family:Verdana, Geneva, sans-serif; font-size:  9pt;
       color:#ffffff; background-color:#222222; padding-top: 2px;
       padding-bottom: 2px; padding-left: 5px; padding-right: 5px;
       white-space: nowrap; border-radius: 5px;">{{ i.category }}</span></a>

                                                            {% endif %}
                                                            {% if i.category == 'Hacker News' %}
                                                                 <a href="{% url 'hacker_news' %}"><span class="tag" style="font-family:Verdana, Geneva, sans-serif; font-size:  9pt;
       color:#ffffff; background-color:#222222; padding-top: 2px;
       padding-bottom: 2px; padding-left: 5px; padding-right: 5px;
       white-space: nowrap; border-radius: 5px;">{{ i.category }}</span></a>
{#                                                                <a href="{% url 'hacker_news' %}"><span class="tag">{{ i.category }}</span></a>#}
                                                            {% endif %}
                                                            {% if i.category == 'Python' %}
                                                                 <a href="{% url 'python' %}"><span class="tag" style="font-family:Verdana, Geneva, sans-serif; font-size:  9pt;
       color:#ffffff; background-color:#222222; padding-top: 2px;
       padding-bottom: 2px; padding-left: 5px; padding-right: 5px;
       white-space: nowrap; border-radius: 5px;">{{ i.category }}</span></a>
{#                                                                <span class="tag"><a href="{% url 'python' %}">{{ i.category }}</a></span>#}
                                                            {% endif %}
                                                            {% if i.category == 'Other' %}
                                                                <a href="{% url 'other' %}"><span class="tag" style="font-family:Verdana, Geneva, sans-serif; font-size:  9pt;
       color:#ffffff; background-color:#222222; padding-top: 2px;
       padding-bottom: 2px; padding-left: 5px; padding-right: 5px;
       white-space: nowrap; border-radius: 5px;">{{ i.category }}</span></a>
{#                                                                <span class="tag"><a href="{% url 'other' %}">{{ i.category }}</a></span>#}
                                                            {% endif %}
                                                        <input name='feed_bookmark' type='hidden' value="bookmark" width="12" >
                                                    </td>
                                            </form>

                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr style="height:5px"></tr>
                                        {% endfor %}


<script>

    var Anchors = document.getElementsByTagName('a');

    for (var i = 0; i < Anchors.length; i++) {
        document.addEventListener('click', function(e) {
            e = e || window.event;
            var target = e.target || e.srcElement,
            text = target.textContent || text.innerText;

        }, false);
    }


</script>


{% endblock %}







{#                                    <tr style="height:5px"></tr>#}
{#                                    <tr style="height:7px"></tr>#}

{#                                    <td>#}
{#                                        {% if object_list.has_next %}#}
{#                                            <div style="margin-left: 90%;">#}
{#                                                <a href="?page={{ object_list.next_page_number }}" style="text-decoration: none; color: black" rel="nofollow">More</a>#}
{#                                            </div>#}
{#                                        {% endif %}#}
{#                                    </td>#}
{#                                    </tbody>#}
{##}
{#                                </table>#}
{#             </table>#}
{#        </center>#}
{#    </div>#}
{##}
{##}
{##}
{#</body>#}

{#</html>#}

{#<script>#}
{#    function bm() {#}
{#        document.getElementById('im').type = 'hidden';#}
{#        {% for i in object_list %}#}
{#            console.log("{{ i.id }}");#}
{#        {% endfor %}#}
{##}
{#    }#}
{##}
{#</script>#}
